.layout-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #efefef;
}

.body-container {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.content-container {
  flex: 1;
  overflow-y: auto;
  background: #efefef;
}

/*.layout-container {
    height: 100%;
    background: #efefef;
}

.content-container {
    display: flex;
}*/