<div class="page-wrapper">
  <div class="main-card">
    <div class="shipment-title">
      <span class="label">Shipment ID</span>
      <span class="shipment-id">0001</span>
    </div>
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="form-wrapper"
    >
      <fieldset class="custom-fieldset">
        <legend>Income</legend>
        <mat-form-field appearance="outline">
          <mat-label>
            Income Value
          </mat-label>
          <input
            matInput
            type="number"
            formControlName="incomeValue"
          />
        </mat-form-field>
      </fieldset>
      <fieldset class="custom-fieldset">
        <legend>Costs</legend>
        <mat-form-field appearance="outline">
          <mat-label>
            Cost Value
          </mat-label>
          <input
            matInput
            type="number"
            formControlName="costValue"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>
            Additional Cost
          </mat-label>
          <input
            matInput
            type="number"
            formControlName="additionalCostValue"
          />
        </mat-form-field>
      </fieldset>
      <div class="button-container">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="loading"
        >
          Calculate
        </button>
      </div>
    </form>
    <div class="table-wrapper">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="custom-table"
      >
        <ng-container matColumnDef="income">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Income
          </th>
          <td mat-cell *matCellDef="let item">
            {{ item.income.incomeValue | number:'1.2-2'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="totalCosts">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Total Costs
          </th>
          <td mat-cell *matCellDef="let item">
            {{ item.cost.costValue + item.cost.additionalCostValue | number:'1.2-2'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="profit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Profit or Loss
          </th>
          <td mat-cell *matCellDef="let item">
            {{ item.calculatedProfitOrLoss | number:'1.2-2'}}
          </td>
        </ng-container>
        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
        ></tr>
      </table>
    </div>
  </div>
</div>