.page-wrapper {
  height: 100%;
}

.main-card {
  background: #f7f7f7;
  padding: 20px;
  min-height: 500px;
  height: 100%;
}

.shipment-title {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;

  .label {
    font-weight: bold;
    font-size: 18px;
  }

  .shipment-id {
    font-size: 18px;
  }
}

.form-wrapper {
  border: 2px solid #2c2c2c;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 16px;
}

.income-outcome-title {
  flex-direction: column;
  display: flex;
}

.custom-fieldset {
  border: 2px solid #2c2c2c;
  padding: 16px;
  min-width: 320px;

  legend {
    width: auto;
    padding: 0 8px;
    font-size: 16px;
    font-weight: 600;
  }
}

mat-form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.button-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.table-wrapper {
  border: 2px solid #2c2c2c;
  background: white;

  max-height: 30vh;
  overflow-y: auto;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.mat-mdc-header-row {
  background: #d9d9d9;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 36px;
}

.mat-mdc-header-cell,
.mat-mdc-cell {
  border-right: 1px solid #2c2c2c;
  padding: 8px;
  font-size: 14px;
}

.mat-mdc-row {
  height: 36px;
}